footer {
  font-size: 12px;
  margin: auto;
  max-width: 60%;
  text-align: center;

  a {
    color: var(--blue-500);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
